In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, IntegerType
import datetime
import os

master = "spark://zy-ubuntu:7077"  
os.environ['PYSPARK_SUBMIT_ARGS'] = f'--master {master} --driver-memory 4g --total-executor-cores 6 --executor-memory 8g --packages org.postgresql:postgresql:42.1.1 pyspark-shell'

In [2]:
spark = SparkSession.builder \
    .appName("fact titles") \
    .getOrCreate()

In [3]:
title_desc_df = spark.read.format('jdbc').options(
      url='jdbc:postgresql://localhost:5433/imdb',
      driver='org.postgresql.Driver',
      dbtable='dim_title_desc',
      user='admin',
      password='password'
      ).load()
title_desc_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- tconst: string (nullable = true)
 |-- type: string (nullable = true)
 |-- primary_title: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- is_adult: boolean (nullable = true)
 |-- start_year: short (nullable = true)
 |-- end_year: short (nullable = true)
 |-- runtime_minutes: short (nullable = true)
 |-- av_rating: float (nullable = true)
 |-- num_votes: integer (nullable = true)
 |-- genre_1: string (nullable = true)
 |-- genre_2: string (nullable = true)
 |-- genre_3: string (nullable = true)

In [4]:
title_desc_df.show()

+---+---------+-----+--------------------+--------------------+--------+----------+--------+---------------+---------+---------+-----------+---------+--------+
| id|   tconst| type|       primary_title|      original_title|is_adult|start_year|end_year|runtime_minutes|av_rating|num_votes|    genre_1|  genre_2| genre_3|
+---+---------+-----+--------------------+--------------------+--------+----------+--------+---------------+---------+---------+-----------+---------+--------+
|  1|tt0000186|short|   Le cuirassé Maine|   Le cuirassé Maine|   false|      1898|    null|           null|      4.2|       12|      Short|      War|    null|
|  2|tt0000302|short|La fée aux choux,...|La fée aux choux,...|   false|      1900|    null|              1|      5.1|      163|      Short|     null|    null|
|  3|tt0000379|short|Visita de la escu...|Visita de la escu...|   false|      1901|    null|              6|      5.2|        6|Documentary|    Short|    null|
|  4|tt0000880|short| The Girls and Daddy| The Girls and Daddy|   false|      1909|    null|             15|      5.9|       40|      Drama|    Short|    null|
|  5|tt0000901|short|   His Wife's Mother|   His Wife's Mother|   false|      1909|    null|              6|      4.7|        7|     Comedy|    Short|    null|
|  6|tt0001234|short|     Gold Is Not All|     Gold Is Not All|   false|      1910|    null|             16|      5.4|       12|      Drama|    Short|    null|
|  7|tt0001459|short|Winning Back His ...|Winning Back His ...|   false|      1910|    null|             17|      5.5|       43|      Drama|  Romance|   Short|
|  8|tt0002659|short|    Bangville Police|    Bangville Police|   false|      1913|    null|              8|      5.3|      719|     Comedy|    Short|    null|
|  9|tt0003451|short|Thor, Lord of the...|Thor, Lord of the...|   false|      1913|    null|             28|      5.6|       12|  Adventure|    Short|Thriller|
| 10|tt0005250|movie|    The Eternal City|    The Eternal City|   false|      1915|    null|             80|      7.2|        6|      Drama|     null|    null|
| 11|tt0006600|movie|          Mr. Doctor|           Doktor úr|   false|      1916|    null|           null|      3.9|       14|         \N|     null|    null|
| 12|tt0007313|movie|  The Secret Kingdom|  The Secret Kingdom|   false|      1917|    null|           null|      5.6|        8|  Adventure|  Romance|Thriller|
| 13|tt0007476|short|      Triple Trouble|      Triple Trouble|   false|      1918|    null|             23|      5.2|      970|     Comedy|    Short|    null|
| 14|tt0007558|movie|Where Are My Chil...|Where Are My Chil...|   false|      1916|    null|             62|      6.3|      632|      Drama|     null|    null|
| 15|tt0009137|movie|       The Gun Woman|       The Gun Woman|   false|      1918|    null|             50|      7.3|       14|    Western|     null|    null|
| 16|tt0009423|movie|        The Naulahka|        The Naulahka|   false|      1918|    null|             60|      6.1|        7|  Adventure|     null|    null|
| 17|tt0010049|movie|       The Dark Star|       The Dark Star|   false|      1919|    null|             60|      8.1|       36|  Adventure|     null|    null|
| 18|tt0010180|movie|Godovshchina revo...|Godovshchina revo...|   false|      1918|    null|            119|      7.0|       87|Documentary|     null|    null|
| 19|tt0010915|movie|The Woman Under Oath|The Woman Under Oath|   false|      1919|    null|           null|      6.3|       14|    Mystery|     null|    null|
| 20|tt0011577|movie|         Pirate Gold|         Pirate Gold|   false|      1920|    null|           null|      4.9|       10|     Action|Adventure|    null|
+---+---------+-----+--------------------+--------------------+--------+----------+--------+---------------+---------+---------+-----------+---------+--------+
only showing top 20 rows

In [6]:
title_desc_id_df = title_desc_df.select('id', 'tconst')
title_desc_id_df.show()

+---+---------+
| id|   tconst|
+---+---------+
|  1|tt0000186|
|  2|tt0000302|
|  3|tt0000379|
|  4|tt0000880|
|  5|tt0000901|
|  6|tt0001234|
|  7|tt0001459|
|  8|tt0002659|
|  9|tt0003451|
| 10|tt0005250|
| 11|tt0006600|
| 12|tt0007313|
| 13|tt0007476|
| 14|tt0007558|
| 15|tt0009137|
| 16|tt0009423|
| 17|tt0010049|
| 18|tt0010180|
| 19|tt0010915|
| 20|tt0011577|
+---+---------+
only showing top 20 rows